.App {
  text-align: center;
  background-color: rgba(240, 248, 255, 0.925);

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content{
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  background-color: aqua;

}
.heading{
  width: 80%;
  text-align: left;
}
.user-card{
  background-color: aliceblue;
  height: 50%;


}

/*Media devices*/
@media only screen and (max-width: 768px) {

}